version: "3.8"

services:
  frontend:
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "4200:4200"
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development
    command: ng serve --host 0.0.0.0 --port 4200 --poll 2000
    restart: unless-stopped
