<div id="clients-screen-container">
  <div
    id="clients-filters"
    style="display: flex; justify-content: space-around"
  >
    @for(filter of filtersArray; track filter.key){
    <div class="input-data-div">
      <p-iftalabel>
        <input
          class="input-data"
          pInputText
          [id]="filter.key"
          [(ngModel)]="filters[filter.key]"
          autocomplete="off"
        />
        <label [for]="filter.key">{{ filter.label }}</label>
      </p-iftalabel>
    </div>
    }
  </div>
  <div class="buttons-div">
    <p-button class="buttons" id="filter-button" (onClick)="loadClients()"
      >Filtrar</p-button
    >
    <p-button
      class="buttons"
      id="create-button"
      (onClick)="setOpenCreateModal()"
      >Adicionar</p-button
    >
    <app-modal
      [open]="openModal"
      [clientData]="selectedClient"
      [title]="modalTitle"
      (closeModal)="handleModalClose()"
      (saveClient)="handleClientSaved($event)"
    />
  </div>
  <div id="clients-table">
    <p-table
      [value]="clients"
      [scrollable]="true"
      [rows]="8"
      [paginator]="true"
      [totalRecords]="totalRecords"
      [lazy]="true"
      (onLazyLoad)="onPageChange($event)"
    >
      <ng-template #header>
        <tr>
          @for(header of headers; track header){
          <th>{{ header }}</th>
          }
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template #body let-client>
        <tr>
          @for(header of headers; track header){
          <td>{{ client[header] }}</td>
          }
          <td>
            <div style="display: flex; gap: 0.5rem; justify-content: center">
              <button
                style="
                  background: none;
                  border: none;
                  cursor: pointer;
                  padding: 4px;
                  color: rgb(175, 175, 9);
                "
                (click)="setOpenEditModal(client)"
              >
                <i class="pi pi-pencil"></i>
              </button>
              <button
                style="
                  background: none;
                  border: none;
                  cursor: pointer;
                  padding: 4px;
                  color: red;
                "
                (click)="handleDeleteClient(client.id)"
              >
                <i class="pi pi-times"></i>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-toast></p-toast>
